<div class="gui fluid container of-hidden">
    {{!-- <div class="facet-header">{{> facet-header}}</div> --}}
    {{!-- <div class="facet-subheader">{{> facet-applied-filters}}</div> --}}
    <div class="facet-body gui fluid container of-hidden">{{> facet-body}}</div>
</div>