<div class="content facet-header">
    <h5 class="gui sub blue floated left header">Filters Section</h5>
    <div class="gui mini right floated buttons">
        <button class="gui mini icon button remove-all">
            <i class="close icon"></i>
        </button>
    </div>
</div>