<div class="gui of-hidden min-w-50 w-auto fluid-h flex column container">
    {{!--
    <h5 class="gui sub blue left floated header">Select Filters</h5> --}}
    <div class="gui flex jc-sb">
        <div class="gui">
            <i class="gui gui-icon gui-icon-filter m-r-5"></i>
            <span class="gui gui-subheading-2">
                FILTER BY
            </span>
        </div>
        <div class="gui">
            <button class="gui cursor-pointer bold hide-facet">
                <i class="gui gui-icon bold gui-icon-chevron-left"></i>
            </button>
        </div>
    </div>
    <div class="gui flex m-t-10">
        <button class="gui cursor-pointer expand-all">
            <i class="gui-icon gui-icon-add"></i>
            Expand All
        </button>
        <div class="gui m-r-5 m-l-5"></div>
        <button class="gui cursor-pointer collapse-all">
            <i class="gui-icon  gui-icon-minus"></i>
            Collapse All
        </button>
    </div>
    <div class="gui m-t-5"></div>
    <div class="gui input fluid-w p-t-5 p-r-5 p-b-5 p-l-1">
        <input class="gui input p-5 fluid-w gui-subheading-2 filter-search-input" placeholder="Search Filters" />
    </div>
    <div class="gui fluid-h facet-list of-auto">
        {{> facet-pinned}}
        {{> facet-unpinned}}
    </div>

</div>