<div class="gui fluid-h ">
    {{!-- <div class="facet-header">{{> facet-header}}</div> --}}
    {{!-- <div class="facet-subheader">{{> facet-applied-filters}}</div> --}}
    {{#if collapsed}}
    {{!-- <div class="facet-collapsed-body gui fluid-h w-auto">{{> facet-collapsed}}</div> --}}
    <div class="facet-body gui fluid-h of-hidden gui-hidden">{{> facet-body}}</div>
    {{else}}
    {{!-- <div class="facet-collapsed-body gui fluid-h w-auto gui-hidden">{{> facet-collapsed}}</div> --}}
    <div class="facet-body gui fluid-h of-hidden">{{> facet-body}}</div>
    {{/if}}
</div>